.menu {
    font-size: 0;
    background-color: darkgoldenrod;
    padding: 20px;
    border: none;
}

.menu__link {
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

.menu__content {
    display: none;
    position: absolute;
    font-size: 1rem;
    z-index: 1;
}

.menu__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}