body {
    margin: 0; 
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.navigation__bar {
    width: 100%; 
    background-color: rgb(173, 209, 242);
    height: 80px;
}

.navigation__bar ul li {
    display: inline-block;
    position: relative;
    width: 50px;
    padding: 1%; 
    margin: 1%;
}

.navigation__bar ul li a {
    display: block;
    text-decoration: none;
    padding: 10%;
    margin: 15%;
    color: white;
}

.navigation__bar ul li a:hover {
    text-decoration: underline;
}

.navigation__bar ul li ul {
    display: none;
    position: absolute;
    margin: 10%;
    padding: 15% 0;
    width: 120px;
    background: linear-gradient(132deg, rgb(249, 206, 183) 0.00%, rgb(173, 209, 242) 100.00%);
    border-radius: 0 0 10px 10px;
}

.navigation__bar ul li:hover ul {
    display: block;
}

.navigation__bar ul li ul a {
    width: 100px;
}

.navigation__bar ul li ul a:hover {
    background: rgb(249, 206, 183);
}

.header {
    display: flex;
}

img {
    width: 40%;
}

.header__title {
    background: linear-gradient(132deg, rgb(249, 206, 183) 0.00%, rgb(173, 209, 242) 100.00%);
    padding: 15%;
    font-weight: 500;
    font-size: 5rem;
    color: black;
}